body {
  font-family: serif;
  user-select: none;
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-block {
  position: fixed;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  cursor: default;
  text-shadow: 2px 2px 15px white;
}

#cnv {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
