body {
  font-family: Baskerville, Serif;
  user-select: none;
  position: fixed;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 3%,
    rgba(232, 239, 247, 1) 8%,
    rgba(204, 221, 238, 1) 27%,
    rgba(182, 199, 216, 1) 38%,
    rgba(110, 128, 145, 1) 70%,
    rgba(1, 36, 70, 1) 84%
  );
}

.title-block {
  position: fixed;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 5rem;
  cursor: default;
  text-shadow: 2px 2px 8px white;
  color: white;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}

#cnv {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

#message-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

#message-video-container.shown {
  visibility: visible;
  opacity: 1;
}

#message-video {
  flex: 1;
  max-width: 100%;
}

#snowman {
  position: fixed;
  bottom: 3rem;
  right: 0rem;
  width: 30%;
  z-index: -1;
}

#tree {
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  width: 40%;
  z-index: -1;
}
