body {
  font-family: serif;
  user-select: none;
  position: fixed;
  overflow: hidden;
}

.title-block {
  position: fixed;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

#cnv {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
